@import 'tailwindcss';
@plugin 'daisyui' {
  themes: all;
};
@plugin "@tailwindcss/typography";

.btn-nav {
  @apply btn btn-sm text-lg rounded-xl opacity-0 hover:shadow-xl text-secondary;
}

.header-shadow {
  @apply shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
}

/* @theme {
  --font-mohave: var(--font-mohave);
  --primary: '#f34213';
  --secondary: '#525FE1';
  --accent: '#fce4de';
  --neutral: '#e0fbfc';
  --base-100: '#000000';
  --info: '#81a4cd';
  --success: '#5c8001';
  --warning: '#ffbe0b';
  --error: '#af1b3f';
  --rounded-box: '2rem';
  --rounded-btn: '4.5rem';
  --rounded-badge: '1.9rem';
  --animation-btn: '0.25s';
  --animation-input: '0.2s';
  --btn-text-case: 'uppercase';
  --btn-focus-scale: '0.95';
  --border-btn: '1px';
  --tab-border: '1px';
  --tab-radius: '0.5rem';
} */


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  /* background: transparent; */
}

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(115, 115, 115);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(100deg, rgba(243, 66, 19, 0.9) 0%, rgba(102, 97, 241, 0.9) 70%, rgba(124, 58, 237, 0.9) 100%);
}

.react-aria-Popover {
  --background-color: var(--overlay-background);

  border: 1px solid var(--border-color);
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;
  background: var(--background-color);
  color: var(--text-color);
  outline: none;
  max-width: 250px;
  box-sizing: border-box;

  .react-aria-OverlayArrow svg {
    display: block;
    fill: var(--background-color);
    stroke: var(--border-color);
    stroke-width: 1px;
  }

  &[data-placement=top] {
    --origin: translateY(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-bottom: 6px;
    }
  }

  &[data-placement=bottom] {
    --origin: translateY(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-top: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement=right] {
    --origin: translateX(-8px);

    &:has(.react-aria-OverlayArrow) {
      margin-left: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement=left] {
    --origin: translateX(8px);

    &:has(.react-aria-OverlayArrow) {
      margin-right: 6px;
    }

    .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  &[data-entering] {
    animation: popover-slide 200ms;
  }

  &[data-exiting] {
    animation: popover-slide 200ms reverse ease-in;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
