---
import Experience from "@/components/Experience.astro";
import HeroParallax from "../components/HeroParallax.astro";
import Dotfiles from "@/components/Dotfiles.astro";
import Contact from "@/components/Contact.astro";
import Layout from "../layouts/Layout.astro";
import TracingBeam from "@/components/TracingBeam.astro";
import Hero from "@/components/Hero.astro";
import Footer from "@/layouts/Footer.astro";
// import WhatIUseBtw from "@/components/WhatIUseBtw.astro";
// import Footer from "@/layouts/Footer.astro";
---

<Layout title="Armany Web Dev Portfolio">
    <div id="smooth-wrapper">
        <div id="smooth-content" class="pb-40">
            <Hero />
            <HeroParallax />
            <TracingBeam>
                <div class="ml-18 mr-4 md:ml-48 md:mr-16">
                    <Experience />
                    <!-- <WhatIUseBtw /> -->
                    <Dotfiles />
                    <Contact />
                </div>
            </TracingBeam>
            <Footer />
        </div>
    </div>
</Layout>
