---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="My linux configuration">
    <div class="h-dvh">
        <h1 transition:animate="initial">linux</h1>
        
        
    </div>
</Layout>
