---
import CheckCircleIcon from "@/icons/CheckCircle.svg";
import ErrorCircleIcon from "@/icons/ErrorCircle.svg";
import PaperAirplaneIcon from "@/icons/PaperAirplane.svg";
import GithubIcon from "@/icons/Github.svg";
import LinkedinIcon from "@/icons/Linkedin.svg";
import EmailIcon from "@/icons/Email.svg";
import MapPinIcon from "@/icons/MapPin.svg";
import { isValidEmail } from "@/utils/isValidEmail";

export const prerender = false;

let error: string = "";
let loading: boolean = false;
let sended: boolean = false;

if (Astro.request.method === "POST") {
  console.log('local type shit')
  try {
    loading = true;
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const message = data.get("message");
    
    console.log('data', data);
    
    if (typeof name !== "string" || name.length < 3) {
      error = "Please enter a name. ";
    }
    if (typeof email !== "string" || !isValidEmail(email)) {
      error = "Email is not valid. ";
    }
    if (typeof message !== "string" || message.length < 6) {
      error = "Message must be at least 6 characters. ";
    }
    
    const response: any = await fetch(`${Astro.url.origin}/api/sendmail`, {
      method: "POST",
      body: data,
    })

    console.log('📦 Response recibida:', {
          status: response.status,
          statusText: response.statusText,
          ok: response.ok,
          headers: Object.fromEntries(response.headers?.entries())
        });
    
    if (response.ok) {
      sended = true
      console.log('se mando? seguro?????')
    } else {
      const responseText = await response.text();
      console.log('📝 Response body:', responseText);
      error = "server";
    }
  } catch (error) {
    console.error(error)
    if (error instanceof Error) {
      error = "server"
    }
  }
}

const onSubmit = async (data: any) => {
  try {
    // if (response.ok) {
    //   setSended("success");
    // } else {
    //   setSended("error");
    // }
  } catch (_error) {
    // setSended("error");
  }
};
---

<section id="contact" class="antialiased lg:h-screen lg:py-1">
  <div class="flex min-h-screen w-full items-center justify-center">
    <div class="rounded-box mx-3 flex w-full max-w-5xl flex-col justify-between space-y-6 border-opacity-30 bg-base-300 bg-opacity-30 p-6 shadow-lg backdrop-blur backdrop-filter sm:p-10 md:mx-6 md:flex-row md:space-x-4 md:space-y-0 md:p-12 lg:p-16">
      <div class="flex flex-col justify-between antialiased">
        <div>
          <h1 class="text-5xl font-bold tracking-wide text-secondary lg:text-7xl">
            Contact
          </h1>
          <p class="pt-2 text-lg font-bold">
            If you are interested in working with me, please send me a
            email.
            <br />I will answer you as soon as possible.
          </p>
        </div>
        <div class="mt-8 flex flex-col space-y-4 md:mt-0">
          <div class="inline-flex items-center space-x-2">
            <EmailIcon />
            <span>armanyfelix@proton.me</span>
          </div>
          <div class="inline-flex items-center space-x-2">
            <MapPinIcon />
            <span>Tijuana B.C. Mexico</span>
          </div>
        </div>
        <div class="mt-6 flex space-x-4">
          <a href="https://www.linkedin.com/in/armany-felix">
            <LinkedinIcon />
          </a>
          <a href="https://github.com/armanyfelix/">
            <GithubIcon />
          </a>
        </div>
      </div>
      <div>
        <div class="shadow-xl md:w-80">
          <form
          method="POST"
          class="flex flex-col space-y-4"
          >
            <fieldset class="fieldset bg-base-100 border-base-300 rounded-box border p-4">
              <legend class="fieldset-legend">Send me a mail</legend>
              <label class="label">Name</label>
              <input
              type="text"
              name="name"
              class="input validator"
              minlength="3"
              maxlength="30"
              placeholder="your name"
              required
              />
              <span class="hidden validator-hint">
                Must be 3 to 30 characters
              </span>

              <label class="label">Email</label>
              <input
                type="email"
                name="email"
                class="input validator"
                placeholder="mail@site.com"
                required
              />
              <span class="hidden validator-hint">Enter valid email address</span>

              <label class="label">Message</label>
              <textarea
                name="message"
                class="textarea validator"
                placeholder="What I can do for you?"
                minlength="6"
                maxlength="200"
                rows={3}
                required
              />
              <span class="hidden validator-hint">Must be 6 to 200 characters</span>
            </fieldset>
            <!-- <div class="justify-end text-right"> -->
              <button class="btn btn-primary w-full"
              >
                {loading ? (
                  <span class="loading loading-dots loading-lg" />
                ) : (
                  <PaperAirplaneIcon />
                )}
              </button>
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  {error === "server" ? (
    <button
      class="alert alert-error fixed left-3 right-3 top-2 z-50 w-full"
    >
      <ErrorCircleIcon />
      <span>
        Error! The mail could not be sent, please try a again later. 😬
      </span>
    </button>
  ) : (
    sended === true && (
      <button
        class="alert alert-success fixed right-1/2 top-24 z-50 w-auto translate-x-1/2"
      >
        <CheckCircleIcon />
        <span>
          The mail was send successfully! I will answer you ASAP. ✌️😁
        </span>
      </button>
    )
  )}
</section>