---

interface Resources {
  name: string
  preview: string
  description: string
  url: string
}

const resources: Resources[] = [
  {
    name: 'NixOS',
    preview: '',
    description: '',
    url: '',
  }
]
---


<section class="mt-36">
  <h1 class="text-5xl font-bold mb-10">Dotfiles</h1>
  <p class="text-xl">Get my configuration, this are all my setup that you can setup en your nix os machine just running the installation script. <a href="https://github.com/armanyfelix/dotfiles" class="link! link-primary!">Repo</a></p>
</section>