---
// import HTML from 'p/icons/techs/html.svg'
// import CSS from 'p/icons/techs/css.svg'
import React from "p/icons/techs/react.svg";
import TypeScript from "p/icons/techs/typescript.svg";
import Mysql from "p/icons/techs/mysql.svg";
import Stripe from "p/icons/techs/stripe.svg";
import Strapi from "p/icons/techs/strapi.svg";
import Ionic from "p/icons/techs/ionic.svg";
import Nodejs from "p/icons/techs/nodejs.svg";
import Bootstrap from "p/icons/techs/bootstrap.svg";
import Nextjs from "p/icons/techs/nextjs.svg";
import Tailwindcss from "p/icons/techs/tailwindcss.svg";
import Capacitor from "p/icons/techs/capacitorjs.svg";
import Hono from "p/icons/techs/hono.svg";
import Angular from "p/icons/techs/angular.svg";
import Python from "p/icons/techs/python.svg";
import Lua from "p/icons/techs/lua.svg";
import Cplusplus from "p/icons/techs/cplusplus.svg";
import Scratch from "p/icons/techs/scratch.svg";
import Sqlserver from "p/icons/techs/sqlserver.svg";
import Java from "p/icons/techs/java.svg";
import Javascript from "p/icons/techs/javascript.svg";
import Cypress from "p/icons/techs/cypress.svg";
---


<section id="experience" class="mt-20 pt-16">
  <h1 class="text-5xl font-bold mb-10">Experience</h1>
  <ul class="list">

    <li class="list-row">
      <div>
        <h2 class="text-xl">Programming Teacher at Algorithmics [8/2025] - current</h2>
        <p class="text-lg font-semibold opacity-60">
          I teach visual programming with
          Scratch to children between 6 and 8 years old, Python, Lua and Visual programming to children
          of all ages.
        </p>
        <div class="flex flex-wrap gap-1 mt-1">
          <div class="badge badge-soft"><Python width="20" height="20" />Python</div>
          <div class="badge badge-soft"><Lua width="20" height="20" />Lua</div>
          <div class="badge badge-soft"><Cplusplus width="20" height="20" />C++</div>
          <div class="badge badge-soft"><Scratch width="20" height="20" />Scratch</div>
        </div>
      </div>
    </li>

    <li class="list-row">
      <div>
        <h2 class="text-xl">Frontend Developer at Kolonus [3/2024] - [12/2025]</h2>
        <p class="text-lg font-semibold opacity-60">
          Led frontend development for the
          administrative web application, ensuring robust and scalable solutions.
        </p>
        <div class="flex flex-wrap gap-1 mt-2">
          <div class="badge badge-soft"><TypeScript width="20" height="20" />TypeScript</div>
          <div class="badge badge-soft"><Angular width="20" height="20" />Angular</div>
          <div class="badge badge-soft"><Ionic width="20" height="20" />Ionic</div>
          <div class="badge badge-soft"><Capacitor width="20" height="20" />Capacitorjs</div>
        </div>
      </div>
    </li>

    <li class="list-row">
      <div>
        <h2 class="text-xl">Full Stack Developer at SII Company [01/2024] - [05/2025]</h2>
        <p class="text-lg font-semibold opacity-60">
          Lead Consultant and Developer
          for a customs data management SaaS in the agricultural sector. I also contributed to the refactoring and
          maintenance of a label printing software on Java.
        </p>
        <div class="flex flex-wrap gap-1 mt-2">
          <div class="badge badge-soft"><Java width="20" height="20" />Java</div>
          <div class="badge badge-soft"><TypeScript width="20" height="20" />TypeScript</div>
          <div class="badge badge-soft"><React width="20" height="20" />React</div>
          <div class="badge badge-soft"><Nextjs width="20" height="20" />NextJS</div>
          <div class="badge badge-soft"><Tailwindcss width="20" height="20" />Tailwindcss</div>
          <div class="badge badge-soft"><Nodejs width="20" height="20" />NodeJS</div>
          <div class="badge badge-soft"><Hono width="20" height="20" />Hono</div>
          <div class="badge badge-soft"><Sqlserver width="20" height="20" />Sql Server</div>
        </div>
      </div>
    </li>

    <li class="list-row">
      <div>
        <h2 class="text-xl">Full Stack Developer at Axovia Marketing & Technologies [01/2022] - [12/2023]</h2>
        <p class="text-lg font-semibold opacity-60">Spearheaded web development for hotels and condominiums, delivering responsive and
          user-friendly interfaces. Led end-to-end development of a SaaS platform (admin dashboard),
          mobile app (resident-facing), and backend services, ensuring seamless integration.</p>
        <div class="flex flex-wrap gap-1 mt-2">
          <div class="badge badge-soft"><Javascript width="20" height="20" />JavaScript</div>
          <div class="badge badge-soft"><React width="20" height="20" />React</div>
          <div class="badge badge-soft"><Mysql width="20" height="20" />MySql</div>
          <div class="badge badge-soft"><Bootstrap width="20" height="20" />Bootstrap</div>
          <div class="badge badge-soft"><Nodejs width="20" height="20" />NodeJS</div>
          <div class="badge badge-soft"><Strapi width="20" height="20" />Strapi</div>
          <div class="badge badge-soft"><Stripe width="20" height="20" />Stripe</div>
          <div class="badge badge-soft"><Ionic width="20" height="20" />Ionic</div>
          <div class="badge badge-soft"><Capacitor width="20" height="20" />Capacitorjs</div>
          <div class="badge badge-soft"><Cypress width="20" height="20" />Cypress</div>
        </div>
      </div>
    </li>
  </ul>
</section>
