---

---

<div id="whatIUseBtw" class="mt-20 pt-16">
    <h1 class="text-5xl font-bold mb-10">What I use btw</h1>
    <ul class="flex items-center justify-evenly">
        {
            ["linux", "terminal", "web-dev", "server"].map((l) => (
                <li>
                    <a
                        transition:animate="initial"
                        href={`/${l}`}
                        class="link text-amber-500 font- text-4xl capitalize"
                    >
                        {l}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
