---
import "../styles/globals.css";
import Header from "./Header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="from-primary/10 via-base-100 to-secondary/15 bg-linear-to-b">
        <Header />
        <main class="oerflow-hidden">
            <slot />
        </main>
    </body>
</html>
